# PostgreSQL
POSTGRES_DB=btv_planning
POSTGRES_USER=btv
POSTGRES_PASSWORD=btv_password
POSTGRES_PORT=5432

# API
API_PORT=3001

# pgAdmin (optionnel)
# PGADMIN_EMAIL=admin@bourgestelevision.fr
# PGADMIN_PASSWORD=admin
